.card {
  margin: 10px;
  flex-direction: row;
}

.body {
  flex: 1;
  padding: 5px 10px;
}

.button {
  width: 10%;
}

h2 {
  font-weight: normal;
  font-size: 16px;
}

h3 {
  font-size: 13px;
}

.button {
  width: 10%;
  align-items: center;
  display: flex;
}

button {
  flex: 1;
  height: 100%;
  background: #e9ecef;
}
