<div class="container">
  <div class="row mt-2 mb-5">
    <div class="col-md-4 offset-md-4 col-sm-12">
      <div class="card">
        <div class="card-title">
          <exchange-form
            [amount]="amount"
            (changeInput)="onChangeInput($event)"
          ></exchange-form>
        </div>
        <div style="min-height: 450px;" *ngIf="!loading && rates.length > 0">
          <div *ngFor="let item of rates">
            <exchange-list
              [item]="item"
              (onDeleteRate)="deleteRateList($event)"
            ></exchange-list>
          </div>
        </div>
        <div *ngIf="loading" class="loader"><h3>Please wait...</h3></div>
        <div *ngIf="rates.length == 0 && !loading" class="loader">
          <h3>Data empty</h3>
        </div>
        <exchange-option
          *ngIf="options.length >= 1 && !loading"
          [options]="options"
          (onAddRate)="addRateList($event)"
        ></exchange-option>
      </div>
    </div>
  </div>
</div>
